<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>localTest</td><td>GoogleExampleIT.googleMilkExample()[pri:0, instance:GoogleExampleIT@5ab9e72c]<br/>GoogleExampleIT.googleCheeseExample()[pri:0, instance:GoogleExampleIT@5ab9e72c]<br/></td></tr>
</table>
