<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d296da">  <td>19/07/11 10:48:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleExampleIT.setUp()[pri:0, instance:GoogleExampleIT@5ab9e72c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1105322512</td>   <td></td> </tr>
<tr bgcolor="d296da">  <td>19/07/11 10:48:58</td>   <td>4203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleExampleIT.googleCheeseExample()[pri:0, instance:GoogleExampleIT@5ab9e72c]">googleCheeseExample</td> 
  <td>main@1105322512</td>   <td></td> </tr>
<tr bgcolor="d296da">  <td>19/07/11 10:48:58</td>   <td>4397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleExampleIT.tearDown()[pri:0, instance:GoogleExampleIT@5ab9e72c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1105322512</td>   <td></td> </tr>
<tr bgcolor="d296da">  <td>19/07/11 10:48:59</td>   <td>5130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleExampleIT.setUp()[pri:0, instance:GoogleExampleIT@5ab9e72c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1105322512</td>   <td></td> </tr>
<tr bgcolor="d296da">  <td>19/07/11 10:49:02</td>   <td>8586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleExampleIT.googleMilkExample()[pri:0, instance:GoogleExampleIT@5ab9e72c]">googleMilkExample</td> 
  <td>main@1105322512</td>   <td></td> </tr>
<tr bgcolor="d296da">  <td>19/07/11 10:49:02</td>   <td>8740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleExampleIT.tearDown()[pri:0, instance:GoogleExampleIT@5ab9e72c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1105322512</td>   <td></td> </tr>
</table>
